<cctx-dev-header></cctx-dev-header>
<router-outlet></router-outlet>
<cctx-dev-footer></cctx-dev-footer>
<cctx-dev-footer-two></cctx-dev-footer-two>

<!--cctx-dev-banner></cctx-dev-banner>
<cctx-dev-icon-menu-div></cctx-dev-icon-menu-div>
<cctx-dev-pic-and-post></cctx-dev-pic-and-post>
<cctx-dev-single-page></cctx-dev-single-page>
<cctx-dev-small-card-list></cctx-dev-small-card-list>
<cctx-dev-faq></cctx-dev-faq>
<cctx-dev-large-card-list></cctx-dev-large-card-list>
<cctx-dev-contact-us></cctx-dev-contact-us-->