<section class="u-align-center u-clearfix u-section-4" id="carousel_4504">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-shape u-shape-svg u-text-grey-40 u-shape-1">
      <cctx-dev-icon [item]="{label:'',type:'grey-n-blue-balls'}"></cctx-dev-icon>
    </div>
    <div class="u-palette-1-base u-preserve-proportions u-shape u-shape-circle u-shape-2"></div>
    <img class="u-image u-image-default u-image-1" data-image-width="900" data-image-height="635" src="/assets/images/01.jpg">
    <div class="u-align-left u-container-style u-grey-10 u-group u-group-1">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h2 class="u-text u-text-default u-text-1"> Fastest Hosting</h2>
        <p class="u-text u-text-2">Ut enim ad minim veniam.</p>
        <p class="u-text u-text-3">Image from <a href="#" class="u-active-none u-border-1 u-border-black u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">Freepik</a>
        </p>
        <a routerLink="/cctx/user/dash" class="u-active-grey-90 u-border-none u-btn u-btn-round u-button-style u-hover-grey-90 u-palette-1-base u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2">
          <cctx-dev-icon [item]="{label:'',type:'download'}"></cctx-dev-icon>&nbsp;Download Pricing
        </a>
      </div>
    </div>
    <div class="u-shape u-shape-svg u-text-palette-5-light-1 u-shape-3">
      <cctx-dev-icon [item]="{label:'',type:'grey-ring'}"></cctx-dev-icon>
    </div>
  </div>
</section>