<section class="u-clearfix u-grey-10 u-valign-middle-lg u-valign-middle-xl u-section-2" id="sec-dedf">
  <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-row">
        <div class="u-align-center u-container-style u-image u-layout-cell u-size-35 u-image-4" src="" data-image-width="1298" data-image-height="1080">
          <div class="u-container-layout u-valign-bottom u-container-layout-1" src=""></div>
        </div>
        <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-25 u-white u-layout-cell-2" src="">
          <div class="u-container-layout u-valign-middle u-container-layout-2">
            <h1 class="u-custom-font u-font-montserrat u-text u-text-palette-1-base u-text-1">ColorCoded has got your back!<br></h1>
            <p class="u-text u-text-2">New things happening inside...</p>
            <!--p class="u-text u-text-2">Image from <a href="/" class="u-border-1 u-border-palette-1-base u-btn u-button-link u-button-style u-none u-text-body-color u-btn-1">Freepik</a></p-->
            <a routerLink="/qs/secur01" class="u-active-grey-90 u-border-none u-btn u-btn-round u-button-style u-hover-grey-90 u-palette-1-base u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2"> GET STARTED</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-grey-10 u-section-6" id="carousel_fab1">
  <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1">
    <div class="u-list u-list-1 u-video-under-banner">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-black u-border-1 u-border-palette-1-base u-radius-8 u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <!--h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">01</h2-->
            <span>
              <video class="u-image u-image-small" controls playsinline loop autoplay [muted]="false"
              data-image-width="900" data-image-height="635"
              src="/assets/vids/20220304_225731.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </span>
            <p class="u-text u-text-2">Jackswift</p>
            <a href="https://nicepage.com/landing-page" class="u-active-none u-border-2 u-border-active-black u-border-hover-black u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-grey-10 u-text-hover-palette-2-base u-btn-1">Hide</a>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-black u-border-1 u-border-palette-1-base u-radius-8 u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <!--h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">01</h2-->
            <span>
              <video class="u-image u-image-small" controls playsinline loop autoplay [muted]="false"
              data-image-width="900" data-image-height="635"
              src="/assets/vids/20220304_225731.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </span>
            <p class="u-text u-text-2">Jackswift</p>
            <a href="https://nicepage.com/landing-page" class="u-active-none u-border-2 u-border-active-black u-border-hover-black u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-grey-10 u-text-hover-palette-2-base u-btn-1">Hide</a>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-black u-border-1 u-border-palette-1-base u-radius-8 u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <!--h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">01</h2-->
            <span>
              <video class="u-image u-image-small" controls playsinline loop autoplay [muted]="false"
              data-image-width="900" data-image-height="635"
              src="/assets/vids/20220304_225731.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </span>
            <p class="u-text u-text-2">Jackswift</p>
            <a href="https://nicepage.com/landing-page" class="u-active-none u-border-2 u-border-active-black u-border-hover-black u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-grey-10 u-text-hover-palette-2-base u-btn-1">Hide</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>