<section class="u-clearfix u-grey-10 u-section-6" id="carousel_fab1">
  <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1">
    <div class="u-expanded-width-sm u-shape u-shape-svg u-text-palette-1-base u-shape-1">
      <qs-icon [item]="{type:'big-glob',label:''}"></qs-icon>
    </div>
    <img src="/assets/images/03.jpg" alt="" class="u-image u-image-default u-image-1" data-image-width="1200" data-image-height="800">
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <ng-container *ngFor="let session of items">
          <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1 u-layout-cell u-shape-rectangle u-size-25 u-layout-cell-2">
            <div class="u-container-layout u-valign-middle u-container-layout-2">
              <h2 class="u-custom-font u-font-roboto-condensed u-text u-text-palette-1-base u-text-3">
                {{session.name}}</h2>
              <p class="u-text u-text-palette-5-dark-2 u-text-4">
                Collaborators:
                <ng-container *ngFor="let o of session.members;let j = index">
                  <a routerLink="/qs/u/{{o.name.toLocaleLowerCase()}}"> {{o.name}}</a>
                  <span *ngIf="j !== session.members.length-1">,</span>
                </ng-container><br>
                <em>Last updated: {{session.updated}}.</em><br>
              </p>
              <a routerLink="/qs/sessions/{{session.id}}" class="u-active-none u-border-2 u-border-active-black u-border-hover-black u-border-palette-1-base u-btn u-button-style 
              u-hover-none u-none u-text-body-color u-text-hover-palette-2-base u-btn-1"> open</a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <p class="u-text u-text-9"></p>
  </div>
</section>