<section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-clearfix u-section-3" id="sec-1960">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
    <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-default u-text-palette-1-base u-text-1"> Welcome back, Jack</h2>
    <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-text u-text-2">What are we getting into today?</p>
    <cctx-dev-icon-menu [items]="menu" (select)="selectItem($event)"></cctx-dev-icon-menu>
  </div>
</section>